body{
    background-color: darkslateblue;
    color: floralwhite;
}
.container{
    background-color: darkslateblue;
    color: floralwhite;
}
.playButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.playButton.input{

}